body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkgray;
  background-blend-mode: multiply;
}

bg {
  position: relative;
}

.container {
  width: 55%;
  margin: auto;
}

header {
  padding-top: 5px;
}

a {
  text-decoration: none;
}
/*flexbox social*/
.social-top {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
}

.subscribe {
  width: 125px;
  height: 46px;
  line-height: 46px;
}

.subscribe a {
  font-size: .5em;
  color: #ffffff;
}

.social-top .social-icons {
  width: 44px;
  height: 46px;
  padding-left: 5px;
}

.social-icons img {
  max-width: 100%;
  max-height: 100%;
}

nav {
  padding: 10px 0 10px 0;
}

/*flexbox nav container*/
.navigation {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

nav .col-4 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
  margin: 5px;
  height: 32px;
  background-color: #a90e0e;
}

nav .col-4 p {
  text-align: center;
  font-size: .65em;
  color: #ffffff;
}

/*banner area using 3 sections for border, image, filter image*/
.top-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  vertical-align: top;
}

.top-img img {
  position: relative;
  width: 145%;
  margin: -100px 0 0 -100px;
}

.top-img-border {
  position: relative;
  width: 97.75%;
  height: 250px;
  border-style: solid;
  border-width: 8px;
  border-color: #ffffff;
}

.grid-layer {
  position: relative;
  width: 100%;
  height: 260px;
  margin-top: -260px;
  overflow: hidden;
}

.grid-layer img {
  opacity: .2;
}

#slider-mark {
  text-align: center;
  color: #ffffff;
}

/*flexbox featured posts section*/
.feat-posts {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.col-3 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  height: 200px;
  padding: 10px;
  margin: 5px;
  background-color: #ffffff;
}

h4 {
  padding: 0 20px 0 20px;
}

.col-3 p {
  font-size: .5em;
  padding: 0 20px 0 20px;
}


/*flexbox skaters*/
.container.badboys-4 {
  width: 56%;
}

.skaters {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.twothirds {
  width: 66%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.onethird {
  width: 33%;
}

// .skaters {
//   display:flex;
//   flex-direction: block;
//   flex-wrap: wrap;
//   justify-content: flex-start;
//   align-content: flex-start;
//   align-items: flex-start;
// }

.badboys-4 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  height: 145px;
  margin: 5px;
  overflow: hidden;
  border-style: solid;
  border-color: #ffffff;
  border-width: thick;
  position: relative;
}

.badboys-4.tommy {
  height: 310px;
}

.badboys-4 span {
  position: absolute;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  top: 36px;
  left: 2px;
  text-align: center;
}

.badboys-4:nth-child(3) span {
  top: 52px;
  left: 62px;
}

.tommy span {
  top: 117px;
  left: 0px;
}

.lance img {
  position: absolute;
  width: 133%;
  top: -10px;
  left: -61px;
}

.tommy img {
  position: absolute;
  width: 260%;
  top: 0px;
  left: -266px;
}

.rodney img {
  position: absolute;
  width: 134%;
  top: -15px;
}

.steve img {
  position: absolute;
  width: 108%;
  top: -65px;
  left: -14px;
}

.skateboards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.col-10 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50px;
  height: 180px;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
}

.col-10 img {
  vertical-align: top;
  width: 42px;
}

/*flexbox footer section*/
footer {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.contact-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 20px;
}

.footer-info {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  width: 200px;
  height: auto;
}

.footer-info p {
  padding: 0 20px 0 20px;
  font-size: .65em;
}

.contact-form {
  width: 50%;
  height: 200;
}

/*flexbox  bottom social icons*/
.social-bottom {
  width: 95px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.social-bottom .social-icons {
  width: 20px;
  height: 21px;
}

.social-bottom .social-icons img {
  max-width: 100%;
  max-height: 100%;
}

.contact-section .social-bottom {
  padding-left: 20px;
}

@media (min-width: 320px) and (max-width: 320px) {
  .container {
    width: 86%;
  }
}

@media (min-width: 320px) and (max-width: 320px) {
  .container.feat-posts {
    width: 75%;
  }
}
