body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-image: url('../assets/bg.jpg');
  background-color: darkgray;
  background-blend-mode: multiply;
}

bg {
  position: relative;
}

.container {
  width: 55%;
  margin: auto;
  /*background-color: orange;*/
}

.col-4 {
  width: 24%;
  display: inline-block;
  background-color: maroon;
  clear: both;
  overflow: hidden;
}

.col-4 p {
  text-align: center;
  font-size: .75em;
  color: white;
}

.top-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  vertical-align: top;
}

.top-img img {
  position: relative;
  width: 145%;
  margin: -100px 0 0 -100px;
}

.top-img-border {
  position: relative;
  width: 97.75%;
  height: 250px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
}

.grid-layer {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 260px;
  margin-top: -260px;
}

.grid-layer img {
  opacity: .2;
}

#slider-mark {
  text-align: center;
  color: white;
}

.col-3 {
  margin-bottom: 30px;
  vertical-align: top;
  display: inline-block;
  clear: both;
  width: 32%;
  height: 300px;
  background-color: white;
}

.col-4 >.2fer img {
  overflow: hidden;
  width: 32%;
  height: auto;
  border: white;
  border-style: solid;
  border-width: thick;
}













/*.col-1 {
  position: relative;
}*/

.col-1 > img {
  width: 8%;
  height: auto;
  padding-left: 4px;
  padding-right: 4px;
}
