body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-color: darkgray;
  background-blend-mode: multiply;
}

bg {
  position: relative;
}

.container {
  width: 55%;
  margin: auto;
  /*background-color: orange;*/
}

header {
  padding-top: 5px;
}

a {
  text-decoration: none;
}
/*flexbox-1-social*/
.social-top {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.subscribe {
  width: 125px;
  height: 46px;
  line-height: 46px;
}

.subscribe a {
  font-size: .5em;
  color: white;
}

.social-top .social-icons {
  width: 44px;
  height: 46px;
  padding-left: 5px;
}

.social-icons img {
  max-width: 100%;
  max-height: 100%;
}

nav {
  padding: 10px 0 10px 0;
}

/*flexbox-2-nav container in a container ^ */
.navigation {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

nav .col-4 {
  width: 24%;
  height: 30px;
  background-color: maroon;
}

nav .col-4 p {
  text-align: center;
  font-size: .65em;
  color: white;
}

/*banner area using 3 sections for border, image, filter image*/
.top-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  vertical-align: top;
}

.top-img img {
  position: relative;
  width: 145%;
  margin: -100px 0 0 -100px;
}

.top-img-border {
  position: relative;
  width: 97.75%;
  height: 250px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
}

.grid-layer {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 260px;
  margin-top: -260px;
}

.grid-layer img {
  opacity: .2;
}

#slider-mark {
  text-align: center;
  color: white;
}

/*flexbox-3 featured posts section*/
.feat-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.col-3 {
  width: 32%;
  height: 200px;
  background-color: white;
}

h4 {
  padding-left: 20px;
}

.col-3 p {
  font-size: .5em;
  padding: 0 20px 0 20px;
}


/*Put Sk8trs here*/
/*SAMPLE FLEX CODE SAMPLE FLEX CODE SAMPLE FLEX CODE*/
/*.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}*/


.col-1 {
  background-color: white;
  text-align: center;
}

.col-1 > img {
  vertical-align: top;
  width: 6.5%;
  height: auto;
  padding: 5px 7px 5px 10px;
}

/*flexbox-5 footer section*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.contact-section {
  background-color: white;
  margin-top: 20px;
}

.footer-info {
  width: 50%;
  height: auto;
}

.footer-info p {
  padding-left: 20px;
  font-size: .65em;
}

/*flexbox-6 bottom social icons*/
.social-bottom {
  width: 95px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.social-bottom .social-icons {
  width: 20px;
  height: 21px;
}

.social-bottom .social-icons img {
  max-width: 100%;
  max-height: 100%;
}

.contact-section .social-bottom {
  padding-left: 20px;
}

.contact-form {
  width: 45%;
  height: auto;
}





/*SAMPLE FLEX CODE SAMPLE FLEX CODE SAMPLE FLEX CODE*/
/*.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}*/
